@import 'assets/styles/variables';

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  min-height: 100vh;

  @media (max-width: 991.98px) { width: 100%; }
  @media (min-width: 992px) { margin-left: 260px; }
}

.main-content {
  flex: 1;
  padding: 1rem;

  @media (min-width: 576px) { padding: 1.25rem; }
  @media (min-width: 992px) { padding: 1.5rem; }
  @media (min-width: 1400px) { padding: 1.75rem 2rem; }
}
